<ion-view title="" hide-back-button="true" hide-nav-bar="true">

    <ion-content class="landing" overflow-scroll="true" scrollbar-y="true">



        <div class="regSpecialistasNew">
            <div class="regNewheader">
                <div class="registerLogo">

                    <p>
                        <object class="reglogo" type="image/svg+xml" data="img/logo/pretitlogopilnasorange.svg">Your browser does not support SVG</object>
                    </p>
                    <h1>Jau greitai</h1>
                </div>
            </div>
            <section class="regSpecOne">
                <div class="regSpecOneLeft">
                    <div class="regSpecOneText">
                        <h2>Visi grožio<br> specialistai</h2>

                        <p>Ir jų atliekamos paslaugos ten kur esi Tu!
                        </p>
                        <div class="footersocialikonos2">
                            <a href="https://www.facebook.com/Pretit-1796721430565828/"><img src="img/facebookblack.png"></a>
                            <a href="https://www.instagram.com/pretit.lt/"><img src="img/instablack.png"></a>


                        </div>
                    </div>

                </div>
                <div class="regSpecOneRight">
                    <img src="img/02222.png">
                </div>

                <div class="landingfooter">
                    <div class="FooterPromo">

                        <div class="footerAppButtonai">

                            <div class="appButtonas">
                                <img class="applepng" src="img/apple.png">
                                <p>Jau greitai</p>
                                <h6>App Store</h6>
                            </div>
                            <div class="appButtonas">
                                <img class="googlepng" src="img/play-store.png">
                                <p>Jau greitai</p>
                                <h6>Google Play</h6>
                            </div>


                        </div>




                    </div>
                </div>
                <!--               <p class="power2">2017 &copy; Visos teisės saugomos</p>-->
            </section>
        </div>










    </ion-content>




</ion-view>