<footer>
    <div class="FooterPromo">

        <div class="footerAppButtonai">

            <div class="appButtonas">
                <img class="applepng" src="img/apple.png">
                <p>Atsisiųsk iš</p>
                <h6>App Store</h6>
            </div>
            <div class="appButtonas">
                <img class="googlepng" src="img/play-store.png">
                <p>Atsisiųsk iš</p>
                <h6>Google Play</h6>
            </div>


        </div>




    </div>

    <div class="footerNew">
        <div class="container">
            <div class="footersiauras">
                <div class="footersocialikonos">
                    <a href="https://www.facebook.com/Pretit-1796721430565828/"><img src="img/fbpng.png"></a>
                    <a href="https://www.instagram.com/pretit.lt/"><img src="img/instagrampng.png"></a>
                    <a href="https://www.youtube.com/channel/UCp_1sVWrNWBiAOKftPSU9cA"><img src="img/youtubepng.png"></a>
                    <a href="mailto:labas@pretit.lt?Subject=Sveiki%20Pretit" target="_top"><img src="img/emailpng.png"></a>

                </div>
                <div class="footerkategorijosdivas">
                    <div class="footerkategorijos">
                        <ul>
                            <li><a ng-click="goToCat('Kirpimas')">Kirpimas</a></li>
                            <li><a ng-click="goToCat('Manikiūras')">Manikiūras</a></li>
                            <li><a ng-click="goToCat('Vizažas')">Vizažas</a></li>
                            <li><a ng-click="goToCat('Kosmetologija')">Kosmetologija</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footerpapdivas">
                    <div class="footerpap">
                        <ul>
                            <li><a ng-click="openModal(1)">Apie mus</a></li>
                            <li><a ng-click="openModal(5)">Kontaktai</a></li>
                            <li><a ng-click="openModal(2)">Taisyklės</a></li>
                            <li><a ng-click="openModal(3)">Privatumo politika</a></li>
                            <li><a ng-click="openModal(4)">D.U.K</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footerpagalba">
                    <a href="mailto:labas@pretit.lt?Subject=Reikia%20pagalbos" target="_top">pagalba@pretit.lt</a>
                    <p class="power">2017 &copy; Visos teisės saugomos</p>
                </div>

            </div>


        </div>
    </div>







</footer>