<ion-content class='serviceModal3 serviceModalSelect'>
    <div class="modalheader">
        <div class="modaltitle">
            <p>Užsakymo informacija</p>
            <h6>{{theBooking.attributes.Status}}</h6>
        </div>
        <button class="absclose greybutton" ng-click="modal.hide()">Uždaryti</button>
    </div>




    <div class="modalcontent">
        <div class="preBookingModal">




            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="preBookingClientInfo">
                        <div class="fotke">
                            <div class="preBookPhoto dashboardBottomCategoryPhoto2">
                                <div class="coverbg2" style="background: url('{{theBooking.attributes.ReceiverPic}}') no-repeat 50% 50%; background-size: cover;"></div>

                            </div>
                        </div>



                        <div class="preBookFull">
                            <h1>{{theBooking.attributes.ReceiverName}}</h1>

                            <h2>{{theBooking.attributes.ReceiverTel}}</h2>
                            <!--  <h3>{{reservation.attributes.UserObject.userEmail}}</h3> -->
                            <p>{{theBooking.attributes.ReceiverEmail}}</p>
                            <!-- <p>Neatvykęs: {{reservation.attributes.Sender.attributes.Abandoned}}</p> -->
                        </div>

                        <!--                    <button class="buttonasnewsmall greybutton" ng-click="goToUser(reservation.attributes.UserObject.userId)">Peržiūrėti profilį</button>-->
                        <div class="myBookingButtonai">
                            <button class="buttonasmessage2 greybutton" ng-click="goToUser(theBooking.attributes.ReceiverId)">Peržiūrėti profilį</button>
                            <button class="buttonasmessage3 orangebutton" ng-click="goToMessagesNew(theBooking.attributes)">Rašyti žinutę</button>
                        </div>



                    </div>
                </div>
            </div>





            <div class="row">

                <div class="ll col-lg-6 col-md-6 col-sm-6 col-xs-6">

                    <div class="bookinfoleft preBookingClientInfo2">
                        <h3>Laikas:</h3>


                        <p>Data: <strong>{{theBooking.date}}</strong></p>
                        <p>Trukmė: <strong>{{theBooking.time}} min.</strong></p>
                        <p>Laikas:<strong>nuo {{theBooking.from.time}} iki {{theBooking.to.time}}</strong></p>
                        <p ng-if="acceptedReservation.userInfo.userId != 'ghost'">Suma: <strong>{{theBooking.price}} &#8364;</strong></p>



                    </div>

                </div>

                <div class="ll col-lg-6 col-md-6 col-sm-6 col-xs-6">

                    <div class="bookinforight preBookingClientInfo2">
                        <h3>Paslauga (-os):</h3>
                        <p class="paslh" ng-repeat="service in theBooking.attributes.ReservServic">{{service.name}}
                            <br>
                        </p>

                    </div>

                </div>

            </div>







        </div>


    </div>


    <div class="modalfooter">
        <div class="buttonaipriimt">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="buttonasnew greybutton" ng-click="declineReservation(theBooking)" ng-if="!theBooking.prev">Atšaukti užsakymą</button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="buttonasnew greybutton" ng-click="rateUser(theBooking)" ng-if="theBooking.prev">Įvertink</button>
                </div>

            </div>

        </div>
    </div>




</ion-content>