<ion-view title="" hide-back-button="true" hide-nav-bar="true">


    <ion-content overflow-scroll="false" data-ng-init="emailAutorized()">
        <div class="confirmmain">

            <div class="confirmwindow">

                <div class="emailconfirm">
                    <div class="emailmiddle">
                        <h2>
                    <object class="emailogo" type="image/svg+xml" data="img/logo/pretitlogopilnasorange.svg">Your browser does not support SVG</object>
                </h2>
                        <img src="img/successreg.png">
                        <p>Dėkojame, tavo el.paštas patvirtintas,
                            <br> galite prisijungti.{{idToConfirm}}</p>

                        <div class="confirmbut">
                            <a href="http://www.pretit.lt">
                                <button class="orangebutton" type="submit">Prisijungti</button>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </ion-content>

</ion-view>