<ion-side-menus>
    <ion-pane ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="content" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">



        <ion-content class="scroll-content-menu has-header">

            <h1 class="title-menuu">  <object class="logo" type="image/svg+xml" data="img/logo/pretitlogopilnasorange.svg">Your browser does not support SVG</object></h1>
            <ion-list>
                <ion-item class='item-menu' nav-clear menu-close href="#/app/home">
                    <i class=" icon ion-clipboard "></i> Home
                </ion-item>
                <ion-item class='item-menu' nav-clear menu-close href="#/app/register ">
                    <i class="icon ion-person-stalker "></i> Register
                </ion-item>
                <ion-item class='item-menu' nav-clear menu-close href="#/app/registerservice ">
                    <i class="icon ion-document "></i> Register Service
                </ion-item>
                <ion-item class='item-menu' nav-clear menu-close href="#/app/bookings">
                    <i class="icon ion-alert-circled "></i> Bookings
                </ion-item>
                <ion-item class='item-menu' nav-clear menu-close href="#/app/messages ">
                    <i class="icon ion-help-circled "></i> Messages
                </ion-item>
                <ion-item class='item-menu' nav-clear menu-close href="#/app/Search ">
                    <i class="icon ion-help-circled "></i> Search
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>